h3 Dear #{user.firstName} #{user.lastName},
p There was recently a request to change the password for your account.
p If you requested this password change, please click on the following link to reset your password:
a(href="#{link}") #{link}
p If clicking the link does not work, please copy and paste the URL into your browser instead.
p If you did not make this request, you can ignore this message and your password will remain the same.