extends layout
block content
  .auth-wrapper
    .paper-wrapper
      .paper.reset.error.shake
        h3= title
        .invalid-link
            img(src='#{settings.baseUrl}/public/img/cross-invalid-link.svg')
        p.help.center= message